<section class="my_account_area pt--80 pb--55 bg--white">
<div class="panel-body">
        <div class="coupon-info">
            <h1 class="heading-title"  id="acc">Your personal information</h1>
            <p class="coupon-text"  id="acc">Please be sure to update your personal information if it has changed.</p>
            <p class="required"  id="acc">*Required field</p>
            <form action="#">
                    <div class="account__form">
                <div class="form-row">
                    <label  id="acc"><span class="required">*</span>Social title</label>
                    <div class="radio-inline">
                        <label class="top"  id="acc">
                            <span class="checked">
                                <input type="radio" /> 
                            </span>
                            Mr.
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label class="top"  id="acc">
                            <span class="checked">
                                <input type="radio" /> 
                            </span>
                            Mrs.
                        </label>
                    </div>
                </div>
                <p class="form-row">
                        <label  id="acc">Your Full Name</label>
                    <input type="text" />
                </p>
                <p class="form-row">
                        <label  id="acc">E-mail address</label>
                    <input type="text"  />
                </p>
                <div class="country-select shop-select">
                    <label  id="acc">Date of Birth</label>
                    <div class="row">
                        <div class="col-xs-4">
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                            </select> 																
                        </div>
                        <div class="col-xs-4">
                            <select>
                                <option>January</option>
                                <option>February </option>
                                <option>March </option>
                                <option>April </option>
                                <option>May </option>
                                <option>June </option>
                                <option>July </option>
                                <option>August </option>
                                <option>September </option>
                                <option>October </option>
                                <option>November </option>
                                <option>December </option>
                            </select> 																
                        </div>
                        <div class="col-xs-4">
                            <select>
                                <option>1990</option>
                                <option>1991</option>
                                <option>1992</option>
                                <option>1993</option>
                                <option>1994</option>
                                <option>1995</option>
                                <option>1996</option>
                                <option>1997</option>
                                <option>1998</option>
                                <option>1999</option>
                                <option>2000</option>
                                <option>2001</option>
                                <option>2002</option>
                                <option>2003</option>
                                <option>2004</option>
                                <option>2005</option>
                                <option>2006</option>
                                <option>2007</option>
                                <option>2008</option>
                                <option>2009</option>
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2016</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                            </select> 																
                        </div>
                    </div>										
                </div>
                <p class="form-row">
                        <label  id="acc">Current Password</label>
                    <input type="text"  />
                </p>
                <p class="form-row">
                        <label  id="acc">New Password</label>
                    <input type="text"  />
                </p>
                <p class="form-row">
                        <label  id="acc">Confirm Password</label>
                    <input type="text"  />
                </p>
                <div class="checkbox">
                    <label  id="acc">
                        <span><input type="checkbox" /></span>
                     Sign up for our newsletter!
                    </label>
                </div>
                <div class="checkbox">
                    <label  id="acc">
                        <span><input type="checkbox" /></span>
                      Receive special offers from our partners!
                    </label>
                </div>
                <a title="Save" class="btn button button-small" href="index.html">
                    <span>
                          Save
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            
        </div>