<section class="my_account_area pt--80 pb--55 bg--white">
<div class="panel-body">
        <div class="coupon-info">
            <h1 class="heading-title" id="acc" >Your addresses </h1>
            <p class="coupon-text"  id="acc" >To add a new address, please fill out the form below.</p>
            <p class="required"  id="acc">*Required field</p>
            <form action="#">
                    <div class="account__form">
                <p class="form-row">
                    <label  id="acc">Your Full Name *</label>
                    <input type="text" >
                </p>
                <p class="form-row">
                    <label  id="acc">Address *</label>
                    <input type="text" >
                </p>
                <p class="form-row">
                    <label  id="acc">City *</label>
                    <input type="text" />
                </p>
                <div class="shop-select">
                    <label  id="acc">Country <span class="required">*</span></label>
                    <select>
                        <option value="volvo">India</option>
                        <option value="saab">Algeria</option>
                        <option value="mercedes">Afghanistan</option>
                        <option value="audi">Ghana</option>
                        <option value="audi2">Albania</option>
                        <option value="audi3">Bahrain</option>
                        <option value="audi4">Colombia</option>
                        <option value="audi5">Dominican Republic</option>
                        <option value="audi6">Bangladesh</option>
                    </select> 									
                </div>	
                <p class="form-row">
                    <label  id="acc">Mobile phone *</label>
                    <input type="text"  />
                </p>
                
                <p class="required"  id="acc">** You must register at least one phone number.</p>
                <p class="form-row order-notes">
                    <textarea placeholder="Additional information"></textarea>
                </p>
                <p class="form-row">
                    <input type="text" placeholder="Please assign an address title for future reference. *" />
                </p>
                <a title="Save" class="btn button button-small" href="index.html" >
                    <span>
                          Save
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
            
        </div>	
        </form>
        			
