<!-- Main wrapper -->
<div class="wrapper" id="wrapper">
    <!-- Header -->
    <header id="wn__header" class="header__area header__absolute sticky__header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo/logo.png" alt="logo images">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-block">
                    <nav class="mainmenu__nav">
                        <ul class="meninmenu d-flex justify-content-start">
                            <li class="drop with--one--item"><a routerLink="/home">Home</a><li>
                            <li class="drop"><a routerLink="notes">Notes</a>
                                <div class="megamenu mega03">
                                    <ul class="item item03">
                                        <li class="title">School</li>
                                        <li><a href="shop-grid.html">Class 10</a></li>
                                        <li><a href="single-product.html">Class 11</a></li>
                                        <li><a href="single-product.html">Class 12</a></li>
                                    </ul>
                                    <ul class="item item03">
                                        <li class="title">College</li>
                                        <li><a href="my-account.html">B.Sc</a></li>
                                        <li><a href="cart.html">M.Sc</a></li>
                                        <li><a href="checkout.html">B.Tech</a></li>
                                        <li><a href="wishlist.html">M.Tech</a></li>
                                    
                                    </ul>
                                    <ul class="item item03">
                                        <li class="title">Exam Paper</li>
                                        <li><a href="shop-grid.html">UPSC</a></li>
                                        <li><a href="shop-grid.html">NDA</a></li>
                                        <li><a href="shop-grid.html">GATE</a></li>
                                        <li><a href="shop-grid.html">CDS</a></li>
                                       
                                    </ul>
                                </div>
                            </li>
                            <li class="drop"><a routerLink="notes">Books</a>
                                <div class="megamenu mega03">
                                    <ul class="item item03">
                                        <li class="title">Categories</li>
                                        <li><a href="shop-grid.html">Biography </a></li>
                                        <li><a href="shop-grid.html">Business </a></li>
                                        <li><a href="shop-grid.html">Cookbooks </a></li>
                                        <li><a href="shop-grid.html">Health & Fitness </a></li>
                                        <li><a href="shop-grid.html">History </a></li>
                                    </ul>
                                    <ul class="item item03">
                                        <li class="title">Customer Favourite</li>
                                        <li><a href="shop-grid.html">Mystery</a></li>
                                        <li><a href="shop-grid.html">Religion & Inspiration</a></li>
                                        <li><a href="shop-grid.html">Romance</a></li>
                                        <li><a href="shop-grid.html">Fiction/Fantasy</a></li>
                                        <li><a href="shop-grid.html">Sleeveless</a></li>
                                    </ul>
                                    <ul class="item item03">
                                        <li class="title">Collections</li>
                                        <li><a href="shop-grid.html">Science </a></li>
                                        <li><a href="shop-grid.html">Fiction/Fantasy</a></li>
                                        <li><a href="shop-grid.html">Self-Improvemen</a></li>
                                        <li><a href="shop-grid.html">Home & Garden</a></li>
                                        <li><a href="shop-grid.html">Humor Books</a></li>
                                    </ul>
                                </div>
                            </li>
                           
                            <li class="drop"><a routerLink="/login">Login</a>
                             
                            </li>
                            <li class="drop"><a routerLink="sell">Sell</a>
                               
                            </li>
                            <li><a routerLink="contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-6 col-sm-6 col-6 col-lg-2">
                    <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
                        <li class="shop_search"><a class="search__active" routerLink="search"></a></li>
                        <li class="wishlist"><a routerLink="/wishlist"></a></li>
                        <li class="shopcart"><a class="cartbox_active" routerLink="cart"><span class="product_qun">3</span></a>
                        </li>
                        <li class="setting__bar__icon"><a class="setting__active" routerLink="myacc"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- //Header -->