<div class="my-account-area section-padding">
    <div class="container">
      <div class="section-title2">
        <h2>Procced to Checkout</h2>
        <p>Welcome to your account. Here you can manage all of your personal information and orders.</p>
      </div>
      <div class="row">
        <div class="addresses-lists">
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <i class="fa fa-building"></i>
                       <span>Add my first address</span>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <div class="coupon-info">
                        <h1 class="heading-title">Your addresses </h1>
                        <p class="coupon-text">To add a new address, please fill out the form below.</p>
                        <p class="required">*Required field</p>
                        <form action="#">
                          <p class="form-row">
                            <input type="text" placeholder="Your Full Name *">
                          </p>
                          <p class="form-row">
                            <input type="text" placeholder="Address *">
                          </p>
                          <p class="form-row">
                            <input type="text" placeholder="City *" />
                          </p>
                          <div class="shop-select">
                            <label>Country <span class="required">*</span></label>
                            <select>
                              <option value="volvo">Bangladesh</option>
                              <option value="saab">Algeria</option>
                              <option value="mercedes">Afghanistan</option>
                              <option value="audi">Ghana</option>
                              <option value="audi2">Albania</option>
                              <option value="audi3">Bahrain</option>
                              <option value="audi4">Colombia</option>
                              <option value="audi5">Dominican Republic</option>
                            </select> 										
                          </div>	
                          <p class="form-row">
                            <input type="text" placeholder="Mobile phone *" />
                          </p>
                          <p class="required">** You must register at least one phone number.</p>
                          <p class="form-row order-notes">
                            <textarea placeholder="Additional information"></textarea>
                          </p>
                          <p class="form-row">
                            <input type="text" placeholder="Please assign an address title for future reference. *" />
                          </p>
                          <a title="Save" class="btn button button-small" href="index.html">
                            <span>
                                Save
                              <i class="fa fa-chevron-right"></i>
                            </span>
                          </a>
                        </form>
                      </div>											
                    </div>
                  </div>
                </div>