<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Sell</h2>
                    <nav class="bradcaump-content">
                      <a class="breadcrumb_item" href="index.html">Home</a>
                      <span class="brd-separetor">/</span>
                      <span class="breadcrumb_item active">Sell</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="my_account_area pt--80 pb--55 bg--white" id="login">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="my__account__wrapper">
                    <div class="account__form">
                        <div class="input__box">
                            <div class="colums">
                                <div class="item">
                                  <label>Book Name<span>*</span></label>
                                  <input id="name" type="text" name="name" required/>
                                </div>
                                <div class="item">
                                  <label>Author Name<span>*</span></label>
                                  <input id="acc" type="text"  name="name"  required/>
                                </div>
                                
                                  <div class="item">
                                    <label  id="acc">Book Category<span>*</span></label>                                                    
                                                <select>
                                                <option>--  Select Book Category  --   </option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                                <option>13</option>
                                                <option>14</option>
                                                <option>15</option>
                                                <option>16</option>
                                                <option>17</option>
                                                <option>18</option>
                                                <option>19</option>
                                                <option>20</option>
                                                <option>21</option>
                                                <option>22</option>
                                                <option>23</option>
                                                <option>24</option>
                                                <option>25</option>
                                                <option>26</option>
                                                <option>27</option>
                                                <option>28</option>
                                                <option>29</option>
                                                <option>30</option>
                                                <option>31</option>
                                            </select> 																
                                        </div>
                            
                                        
                                  <div class="item">
                                    <label  id="acc">Book Language<span>*</span></label>                                                    
                                                <select>
                                                <option>  --  Select Book Language  --   </option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                                <option>13</option>
                                                <option>14</option>
                                                <option>15</option>
                                                <option>16</option>
                                                <option>17</option>
                                                <option>18</option>
                                                <option>19</option>
                                                <option>20</option>
                                                <option>21</option>
                                                <option>22</option>
                                                <option>23</option>
                                                <option>24</option>
                                                <option>25</option>
                                                <option>26</option>
                                                <option>27</option>
                                                <option>28</option>
                                                <option>29</option>
                                                <option>30</option>
                                                <option>31</option>
                                            </select> 																
                                        </div>
                                        <div class="item">
                                            <label>Purchase Date<span>*</span></label>
                                            <input id="acc" type="date"  date="date" required />
                                          </div>
                                            
                                       
                            
                                  
                                  </div>
                                
                            
                            <label id="acc">Username or email address <span>*</span></label>
                            <input type="text">
                        </div>
                        <div class="input__box">
                            <label id="acc">Password<span>*</span></label>
                            <input type="text">
                        
                        </div>
                        <div class="form__btn">
                            <button>Login</button>
                            <label class="label-for-checkbox">
                                <input id="rememberme" class="input-checkbox" name="rememberme" value="forever" type="checkbox">
                                <span id="acc">Remember me</span>
                            </label>
                        </div>
                        <a class="forget_pass" href="#" id="acc">Lost your password?</a>
                    </div>

                </div></div></div></div></section>